<h3 style="text-align: center; margin-top: 20px; font-size: 150%;">Book Details!</h3>

<div style="text-align: center; margin: top 20px; ;">
    <div style="display: inline-block; text-align: left;">
            <div>
                <label>
                    <b>Book Name:</b>
                </label>
                {{book.bookName}}
            </div>

            <div >
                <label>
                    <b>Book Author: </b>
                </label>
                {{book.bookAuthor}}
            </div>

            <div>
                <label>
                    <b>Book Price: </b>
                </label>
                {{book.bookPrice}}
            </div>

            <div>
                <label>
                    <b>Book Gener: </b>
                </label>
                {{book.bookGenre}}
            </div>

            <div>
                <label>
                    <b>Book Avability: </b>
                </label>
                {{book.borrowedStatus}}
            </div>
        </div>
    </div>

