nav{
  padding:0px;
  
}
.container-fluid{
  padding:10px;
}
button {
    background-color: black; 
    color: white; 
  }
  
button:hover {
    background-color: #4086e2;
    color: white;
  }
  select{
    background-color: rgb(27, 130, 214);
    width: 80px;
    height: 30px;
    margin-right: 15px;
  }