<div>
    <h2>{{title}}</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Firstname</span>
        <input [(ngModel)]="user.firstname" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Lastname</span>
        <input [(ngModel)]="user.lastname" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Age</span>
        <input [(ngModel)]="user.age" type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        <input [(ngModel)]="user.email" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <br>
    <span style="margin: 25px;">Gender</span>
    <div style="margin: 25px;" class="form-check">
        <input [(ngModel)]="user.gender" value="male" class="form-check-input" type="radio" name="flexRadioDefault"
            id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
            Male
        </label>
    </div>
    <div style="margin: 25px;" class="form-check">
        <input [(ngModel)]="user.gender" value="female" class="form-check-input" type="radio" name="flexRadioDefault"
            id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
            Female
        </label>
    </div>
    <button (click)="save()" type="button" class="btn btn-primary btn-lg">Submit</button>
</div>