<div class="page-content">
    <div class="form-v9-content">
        <form class="form-detail" name="myForm" #myForm="ngForm" #regForm='ngForm' (ngSubmit)='onSubmit(myForm)'>
            <h2>Update Book</h2>
            <div class="form-row-total">
                <div class="form-row">
                    <input type="number" name="full-name" id="full-name" class="input-text" placeholder="Enter Id" required  [(ngModel)]="book.bookId">
                </div>
                <div class="form-row">
                    <input type="text" name="genre" id="your-email" class="input-text" placeholder="Update Logo" required [(ngModel)]="book.bookLogo">
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row">
                    <input type="text" name="full-name" id="full-name" class="input-text" placeholder="Update Title" required  [(ngModel)]="book.bookTitle">
                </div>
                <div class="form-row">
                    <input type="text" name="genre" id="your-email" class="input-text" placeholder="Update Genre" required [(ngModel)]="book.bookCategory">
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row">
                    <input type="number" name="price" id="password" class="input-text" placeholder="Update Price" required  [(ngModel)]="book.bookPrice">
                </div>
                <div class="form-row">
                    <input type="text" name="comfirm-password" id="comfirm-password" class="input-text" placeholder="Update Publisher" required  [(ngModel)]="book.bookPublisher">
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row">
                    <input type="text" name="password" id="password" class="input-text" placeholder="Update Content" required  [(ngModel)]="book.bookContent">
                </div>
                <div class="form-row">
                    <input type="text" name="comfirm-password" id="comfirm-password" class="input-text" placeholder="Update Desciption" required  [(ngModel)]="book.bookDescription">
                </div>
            </div>
            <div class="form-row-last">
                <input type="submit" name="register" class="register" [disabled]="!regForm.valid" value="Update">
            </div>
        </form>
    </div>
</div>