<div style="background-color: black; height: auto; margin-bottom: 100px;">
    <figure style="padding: 40px; border-style: double; border-color: brown; color:white;" class="text-center">
        <blockquote class="blockquote">
            <p>To-Do List</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Add or remove your todos
        </figcaption>
    </figure>

   <div style="margin-right: 100px; width: auto; margin-top: 100px; border-style:solid; 
   border-color:greenyellow; border: radius 10px; ;"
            class= "input-group-text input-group-lg" >
            <span class="input-group-text"
            id="inputGroup-sizing-lg">Enter your todos</span>
            <input #todoItem type="text" 
            placeholder="Enter your todos"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"> 
    </div>
   </div>

