body{
  background-color: #0481a3;
 
}
.footer {
    padding: 20px;
    text-align: center;
    background:black;
    margin-top: 20px;
    width: 100%;
    margin: auto;
    
  }
  .social a{
      padding: 10px;
      margin:10px;
  }
  fa {
    padding: 85px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
    }
    
    .fa:hover {
    opacity: 0.7;
    }
    
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }
    
    .fa-google {
    background: #dd4b39;
    color: white;
    }
    
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }
    
    .fa-youtube {
    background: #bb0000;
    color: white;
    }
    .social
    {
    display: block;
    }
    .material-icons
    {
      font-size:17px;
    }
    