
<div class="outer">
    <h3
        style="background-color: rgb(62, 183, 240); color: rgb(17, 14, 11); text-align: center; padding-top: 5px;">
        All Books
  </h3>
  <ul class="tilesWrap">
    <li *ngFor="let b of books,index as i">
        <h2><img style="" width="70px" height="105px" src="{{b.bookLogo}}"></h2>
        <h3>{{b.bookTitle}}</h3>
        <p><span>Publisher-</span>
            {{b.bookPublisher}}
        </p>
        <p><span>Genre - </span>
            {{b.bookCategory}}
        </p>
        <p><span>Price - </span>
            {{b.bookPrice | currency:'INR'}}
        </p>
        <button  type="button" class="btn btn-success" >Read</button>
    </li>
    
</ul>
</div>