.user {
    width: 90%;
    max-width: 560px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 1;
   
}

.user__title {

    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: visible;
    opacity: 1;
   
    
}

/* .form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
} */

.form__input {
    display: block;
    width: 100%;
    padding: 20px;

    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;


}

.btn {
    display: block;
    width: 100%;
    padding: 20px;

    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;

    transition: 0.3s;


}

@keyframes NO {

    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}