<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid"  style="background-color: #0993ca;">
    <a class="navbar-brand" href="#"><img src="/assets/logo.png" alt="logo" height="70px" width="70px" style="border-radius:60%"/></a>
    <a style="color:black"><b>Digital Books</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    &nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <i class="fa-thin fa-house"></i>
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Guest User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>