<app-home-navbar></app-home-navbar>
<div>
  <div class="box-form">
    <div class="left">
    <div class="right">
      <h5>Login...</h5>
      <p>Register here ! <a name="create" (click)="info()" style="color: rgb(14, 10, 10);"><b><u>Create Your
              Account</u></b></a> Login as guest.</p>
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="inputs">
          <input name="username" placeholder="Username" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" [(ngModel)]="form.username">
          <br>
          <input name="password" placeholder="Password" type="text" class="form-control" id="exampleInputPassword1"
            [(ngModel)]="form.password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

  </div>
</div>
<app-navbr></app-navbr>